{{#if user}}
    <h2>Welcome Back {{user.username}}</h2>
    <ul class="alt">
        <li><a href="/{{user.type}}s/classes">My Classes</a> </li>
        <li><a href="/users/logout">Logout</a> </li>
    </ul>
{{else}}

	<h5>Student & Instructor Login</h5>
<form action="/users/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username"> 
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <br><br>
    <button type="submit" name="submit" value="submit" class="btn"> Submit </button>
</form>
{{/if}}