	<h3>Welcome to Elearn</h3>
	<p>
	Elearn is a learning platform. We have courses ranging from Technlogy, Art, Science, Business, Personal Development. You can signup as
	an instructor or student. As an instructor, you can create courses (free or paid) which include assignments and students can opt in to take your course.
	</p>
	<a class="button" href="/users/register">Signup for free</a>
